*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}
.navbar{
    background-color: #0F1111;
    height: 60px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-bar:hover{
   cursor: pointer;
}
.nav-logo{
    background-color: #131a22;
    height: 60px;
    width: 120px;
}
.nav-logo:hover{
    cursor: pointer;
}
.nav-address:hover{
    cursor: pointer;
}
.nav-signin:hover{
    cursor: pointer;
}
.logo{
    background-color: #131a22;
    background-image: url("amazon_logo.png");
    height: 60px;
    width: 100%;
    background-size: cover;
}
.border{
    border: 1.5px solid transparent;
}
.border  :hover{
    border: 1.5px solid white;
    cursor: pointer;
    padding: 10px;
}

.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-sec{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 650px;
    height: 40px;
    border-radius: 4px;
    background-color: red;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color : #0F1111;
}
.nav-search:hover{
    border: 2px solid #febd68;
}
span{
    font-size: 0.75rem;

}
.nav-signin a{
    text-decoration: none;
    color: #ffffff;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-cart i{
    font-size: 30px;
    color: #ffffff;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    
}
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: #ffffff;
    
    align-items: center;
}
.panel-all{
    margin-left: 20px;
}
.panel-ops p{
    display: inline;
    margin-left: 20px;
}
.panel-ops a{
    text-decoration: none;
    color: #ffffff;
}
a:hover{
    border: 1.5px solid #ffffff;
    padding: 10px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.deals{
    font-size: 0.9rem;
    font-weight: 700;
}
.hero-section{
    background-image: url("https://m.media-amazon.com/images/I/61aURrton0L._SX3000_.jpg");
    height: 400px;
    background-size: cover;
}
.hero-section:hover{
    cursor: pointer;
}
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #f7f8eb;
}
.shop-section:hover{
    cursor: pointer;
}
.box{
    height: 400px;
    width: 23%;
    background-color: #ffffff;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box a{
    text-decoration: none;
}
.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 10px;
    margin-right: 10px;

}
.box-content p{
    color: #007185;
}
.box-content p:hover{
    color: #ff7b2f;
}
.img1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.foo, .foo1, .foo3, .foo2{
    background-color: #222f3d;
    height: 20%;
    width: 100%;
    color: rgb(255, 255, 255);
    padding: 10px;
}
.foo, .foo2, .foo1:hover{
    cursor: pointer;
}

.foo1, .foo2, .foo3{
    text-align: center;
}